<header class="header">
    <img class="img animate animate-from-bottom" src="/assets/images/me.jpg" alt="Portrait: Jasper Raddatz">

    <h1 class="title animate animate-from-bottom delay-1">Jasper Raddatz</h1>
    <h2 class="subtitle animate animate-from-bottom delay-2">tech enthusiast // designer // developer</h2>

    <div class="btn-group">
        <a href="#contact" class="btn btn--primary animate animate-from-left delay-4">Hire me</a>
        <a href="#more" class="btn btn--secondary animate animate-from-right delay-5">Learn more</a>
    </div>
</header>
